
@font-face {
  font-family: 'ProximaNovaSoft-Regular';
  src: url('ProximaNovaSoft-Regular.eot?#iefix') format('embedded-opentype'),  url('ProximaNovaSoft-Regular.otf')  format('opentype'),
	     url('ProximaNovaSoft-Regular.woff') format('woff'), url('ProximaNovaSoft-Regular.ttf')  format('truetype'), url('ProximaNovaSoft-Regular.svg#ProximaNovaSoft-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
