.dashboard-top-info {
  font-size: 129%;
  line-height: 1.2;

  .extra-large {
    font-size: 165%;
  }

  @media (max-width: 575px) {
    text-align: center;

    > [class*="col-"]:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.slidebox {
  width: 30px;
  height: 18px;
  position: relative;
  background-color: #00becd;
  border-radius: 9px;
  @extend %main-transition;

  input[type="checkbox"] {
    visibility: hidden;
  }

  label {
    display: block;
    height: 16px; width: 16px;
    border-radius: 50%;
    position: absolute !important;
    top: 1px;
    left: 1px;
    background-color: #fff;
    padding: 0 !important;
    @extend %main-transition;

    &::before {
      display: none !important;
    }
  }

  input[type="checkbox"]:checked + label {
    left: 13px;
  }

  &.off {
    background-color: #d6d6d6 !important;
  }
}

#main-chart {
  height: 250px;
}

.chart-filter-table {
  width: 100%;

  th {
    font-size: 85%;
    @extend .text-light;
    text-align: left;
    font-weight: normal;
  }
}

.dash-widget-header {
  margin: -20px -20px 0;
  padding: 10px;
  border-bottom: 1px solid #d6d6d6;

  + .table-data, + * {
    margin-top: 10px;
  }
}