#filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 212px;
  height: 100vh;
  padding: 20px 20px 28px 15px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: all 0.25s ease;
  transform: translate(-100%, 0);

  .select-styled, #{$all-text-inputs} {
    width: 100%;
  }

  .form-filter-sidebar > div {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #{$all-text-inputs} {
    min-width: 0;
  }
}

@media (min-width: 992px) {
  #sidebar {
    transition: 0.15s all 0.25s ease;
    transform: translate(0%, 0);
  }
}

.filter-opened {
  #filter {
    transform: translate(0%, 0);
    transition: 0.15s all 0.25s ease;
  }

  @media (min-width: 992px) {
    #sidebar {
      transform: translate(-100%, 0);
      transition: all 0.25s ease;
    }
  }
}

#close-filter {
  display: block;
  line-height: 1;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  right: 5px;

  i {
    color: #9b9b9b;
    font-size: 8px;
  }
}

#filter-header {
  margin-bottom: -15px;
}

// UI Slider
.ui-slider {
  height: 1px;
  border: none !important;
  background-color: #d6d6d6;

  .ui-slider-handle {
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border: solid 1px #d6d6d6;
    border-radius: 50%;
    top: -7px;
    outline: none;
    cursor: pointer;
    overflow: visible !important;

    /*&::before {
      //content: "$1";
      content: attr(data-value);
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translate(-60%, 0);
      font-size: 11px;
    }*/

  }
}

.ui-slider-range {
  background-color: #06578a;
}

.price-filter {
  position: relative;
  padding-top: 15px;

  > span {
    position: absolute;
    font-size: 11px;
    top: -6px;
    transform: translate(-60%, 0);
  }
}