@font-face {
  font-family: 'ProximaNovaSoft-Regular';
  src: url('../fonts/ProximaNovaSoft/ProximaNovaSoft-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaSoft/ProximaNovaSoft-Regular.otf')  format('opentype'),
  url('../fonts/ProximaNovaSoft/ProximaNovaSoft-Regular.woff') format('woff'), url('../fonts/ProximaNovaSoft/ProximaNovaSoft-Regular.ttf')  format('truetype'), url('../fonts/ProximaNovaSoft/ProximaNovaSoft-Regular.svg#ProximaNovaSoft-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
