//************************************************************************//
// Generate a variable ($all-text-inputs) with a list of all html5
// input types that have a text-based input, excluding textarea.
// http://diveintohtml5.org/forms.html
//************************************************************************//
@function assign-inputs($inputs, $pseudo: null) {
  $list: ();

  @each $input in $inputs {
    $input: unquote($input);
    $input: if($pseudo, $input + ":" + $pseudo, $input);
    $list: append($list, $input, comma);
  }

  @return $list;
}

//************************************************************************//
// Generate a variable ($all-text-inputs) with a list of all html5
// input types that have a text-based input, excluding textarea.
// http://diveintohtml5.org/forms.html
//************************************************************************//
$inputs-list: 'input[type="email"]',
'input[type="number"]',
'input[type="password"]',
'input[type="search"]',
'input[type="tel"]',
'input[type="text"]',
'input[type="url"]',
'textarea',

  // Webkit & Gecko may change the display of these in the future
'input[type="color"]',
'input[type="date"]',
'input[type="datetime"]',
'input[type="datetime-local"]',
'input[type="month"]',
'input[type="time"]',
'input[type="week"]';

// Bare inputs
//************************************************************************//
$all-text-inputs: assign-inputs($inputs-list);

// Hover Pseudo-class
//************************************************************************//
$all-text-inputs-hover: assign-inputs($inputs-list, hover);

// Focus Pseudo-class
//************************************************************************//
$all-text-inputs-focus: assign-inputs($inputs-list, focus);



// You must use interpolation on the variable:
// #{$all-text-inputs}
// #{$all-text-inputs-hover}
// #{$all-text-inputs-focus}

// Example
//************************************************************************//
//   #{$all-text-inputs}, textarea {
//     border: 1px solid red;
//   }

@mixin inputPlaceholder() {
  $selector: '';
  $prefixes: (
          moz: "::-moz",
          webkit: "::-webkit",
          ie: ":-ms"
  );
  @each $prop, $value in $prefixes {
    @if $prop != "moz" {
      $selector: #{$value}-input-placeholder;
    } @else {
      $selector: #{$value}-placeholder;
    }
    @if & {
      &#{$selector} {
        @content;
      }
    } @else {
      #{$selector} {
        @content;
      }
    }
  }
  &::placeholder {
    @content;
  }
}

@include inputPlaceholder() {
  color: #9b9b9b;
  font-size: 14px;
}

#{$all-text-inputs} {
  border: none;
  border-bottom: solid 1px #d6d6d6;
  transition: border 0.3s ease;
  font-family: inherit;
  font-size: 14px;
  color: #1a1a1a;
  min-width: 200px;
}

.input-price {
  width: 30px;
  min-width: 30px !important;
}

textarea {
  width: 100%;
  resize: vertical;
  min-height: 65px;
  height: auto;
  line-height: 1.43;
}

#{$all-text-inputs-focus} {
  border-bottom: solid 1px #06578a;
  outline: none;
}

label {
  display: block;
  @extend .extra-small;
  @extend .text-light;
}

input:not([type="checkbox"]) + label {
  margin-top: 10px;
}


// Iconic checkbox
.checkbox-iconic {
  i {
    display: inline-block;
    margin-right: 6px;
    font-size: 25px;
    color: #d6d6d6;
    cursor: pointer;
    @extend %main-transition;

    &:hover {
      color: #9b9b9b;
    }

    &.active {
      color: #06578a;
    }
  }

  &.checkbox-devices {
    i:nth-child(1) {
      font-size: 30px;
    }
    i:nth-child(3) {
      font-size: 18px;
    }
  }
}



// Floating placeholder (label)
.input-wrap {
  position: relative;
  min-height: 25px;
  margin-top: 25px;

  &:first-child {
    margin-top: 0px;
  }
}

input:focus ~ .floating-label, textarea:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label, textarea:not(:focus):valid ~ .floating-label {
  top: -12px;
  left: 0px;
  opacity: 1;
  @extend .extra-small;
  @extend .text-light;
}

.inputText {
  font-size: 14px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  font-size: 14px;
  left: 0px;
  top: 0px;
  transition: 0.2s ease all;
  color: #9b9b9b;
}


// CHECKBOX
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  color: #06578a;
  font-size: 15px;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '\69';
  position: absolute;
  left: 0; top: 2px;
  @extend %icon;
}

[type="checkbox"]:checked + label:before {
  content: '\6a';
}


// Select
.select-styled {
  position: relative;
  height: 25px;
  width: 200px;

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    @extend %icon;
    content: "\63";
    color: #666666;
    font-size: 9px;
    transform: translate(0, -50%);
    z-index: 0;
  }

  &.disabled::after {
    display: none;
  }
}

select {
  border: none;
  border-bottom: solid 1px #d6d6d6;
  transition: border 0.3s ease;
  background: transparent;
  width: 100%;
  font-size: 14px;
  height: 20px;
  padding-right: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #1a1a1a;
  //background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat transparent;

  &:focus {
    outline: none;
  }
}

/* CAUTION: IE hackery ahead */
select::-ms-expand {
  display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
  select {
    background:none\9;
    padding: 5px\9;
  }
}