header {
  position: fixed;
  top: 0;
  left: 212px;
  right: 0;
  width: auto;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 95;

  padding-top: 5px;

  padding-left: 10px;
  padding-right: 10px;

  [id^="link_for_"] {
    display: inline-block;
    margin: 0 12px;
    text-transform: uppercase;
    color: #9b9b9b;
    text-decoration: none;

    &:hover, &.active {
      color: #06578a;
    }
  }

  > div {

    &:nth-child(1) {
      @media (min-width: 992px) {
        display: none;
      }
    }

    &:nth-child(2) {
      @media (max-width: 768px) {
        display: none;
      }
    }

    &:nth-child(4) {
      > * {
        vertical-align: middle;
        margin: 0 5px;
      }
    }
  }


  @media (max-width: 991px) {
    left: 0;
  }
}

.flexbox header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
}

#avatar {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  border-radius: 4px;

  @extend %background-center;

  + span {
    vertical-align: middle;
  }
}

#header-upgrade-button {
  @media (max-width: 768px) {
    display: none;
  }
}

#alert {
  position: relative;
  font-size: 24px;
  color: #9b9b9b;
  @extend %icon;

  &::before {
    content:'\65';
  }

  > span {
    position: absolute;
    top: 0px;
    right: -5px;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #df4f27;

    font-size: 10px;
    color: #ffffff;
    text-align: center;
  }

  @media (max-width: 768px) {
    margin: 0;
  }
}

#account {
  display: inline-block;
  color: inherit;

  > * {
    display: inline-block;
    vertical-align: middle;
  }
}


.account-name {
  margin-left: 15px;

  @media (max-width: 768px) {
    display: none !important;
  }
}

.account-avatar {
  display: inline-block;
  @extend %background-center;
  border-radius: 50%;
  overflow: hidden;
  width: 25px;
  height: 25px;
  margin-left: 10px;

  @media (max-width: 768px) {
    margin: 0;
  }
}

#account-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  width: 180px;
  height: auto;
  border: solid 1px #e6e6e6;
  margin: 0;
  padding: 15px 20px;
  box-shadow: 0 2px 2px 0 rgba(222, 222, 222, 0.5);
  @extend %main-transition;
  opacity: 0;
  visibility: hidden;

  &.opened {
    opacity: 1;
    visibility: visible;
  }

  > ul {
    display: block;
    @extend %resetList;

    > li {
      padding: 5px 0;

      &.separator {
        border-bottom: 1px solid #e6e6e6;
        margin: 10px -20px;
        padding: 0;
      }
    }

    a:not(.button) {
      display: inline-block;
      color: #666666;

      &:hover {
        color: #0b4377;
      }
    }
  }
}


/*===============================================
BURGER MENU
=================================================*/
#burger-menu {
  width: 17px;
  height: 14px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #666666;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  span:nth-child(2) {
    top: 7px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  span:nth-child(3) {
    top: 14px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  &.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 0px;
  }

  &.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  &.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 12px;
    left: 0px;
  }
}