/*===============================================
MAIN STYLES
=================================================*/

body {
  font-family: 'ProximaNovaSoft-Regular';
  font-size: 14px;
  color: #1a1a1a;
  background-color: #f8f8f8;
  line-height: 1.43;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

#main, #content {
  position: relative;
  background-color: #fff;
  min-height: 100vh;
}

#main {
  overflow: hidden;
  background-color: #f8f8f8;

  @media (max-width: 991px) {
    padding-left: 0;
    padding-right: 0;
  }
}

#content {
  position: relative;
  background-color: #f8f8f8;
  margin-left: 197px;
  margin-right: -15px;
  padding: 50px 10px 10px 10px;

  @media (max-width: 991px) {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

    transition: transform 0.5s ease;
    transform: translate(0, 0);

    &.menu-opened {
      transform: translate(60px, 0);
    }
  }
}

.content-body {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  padding-left: 0;
  padding-right: 0;

  .loaded & {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width: 991px) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.scrolable-x {
  overflow-x: auto;
}

.nice-scroll {
  //overflow: auto;
}

small, .small {
  font-size: 85.7%;
}

.extra-small {
  font-size: 71.4%;
}

.large {
  font-size: 140%;

  @media (max-width: 768px) {
    font-size: 125%;
  }
}
.extra-large {
  font-size: 210%;
}


.text-light-gray, .text-light {
  color: #9b9b9b;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-up {
  text-transform: uppercase;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

@each $width in (25, 33, 50, 100) {
  .w-#{$width} {
    width: percentage($width/100);
  }
}

.content-header {
  line-height: 1;

  > .row {
    padding: 0 0 10px 0;
  }

  [class*="icon-"] {
    font-size: 24px;
  }

  .button i {
    font-size: inherit;
  }

  * {
    vertical-align: middle;
  }
}

.content-box {
  margin-bottom: 10px;

  &.content-box-white {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  }
}

.content-box-header {
  font-weight: normal;
  margin: 0 0 10px 0;
  font-size: 18px;
}

h4.content-box-header {
  font-size: 14px;
}

.link-name {
  font-size: 15px;
}

p {
  margin-top: 0;
}

a {
  @extend %main-transition;
  color: #06578a;
  text-decoration: none;
}

.button {
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  color: #06578a;
  text-align: center;
  padding: 7px 12px;
  border: solid 1px rgba(6, 87, 138, 0.36);
  border-radius: 4px;
  background-color: #f9fdff;
  line-height: 1;
  @extend %main-transition;

  > i[class*="icon-"]:first-child {
    display: inline-block;
    margin-right: 5px;
  }
  > i[class*="icon-"]:last-child {
    display: inline-block;
    margin-left: 5px;
  }

  &.button-large {
    font-size: 128%;
    padding: 14px 24px;
  }

  &.button-disabled {
    opacity: 0.5;
    cursor: default;
  }

  &.button-back {
    position: relative;
    width: 27px;
    height: 27px;
    text-align: center;
    padding: 0;
    font-size: 14px;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @extend %icon;
      content: '\64';
    }
  }

  &.button-close {
    @extend .button-back;
    &:before {
      content: '\6d';
    }
  }

  &.button-play {
    @extend .button-back;
    &:before {
      content: '\72';
    }
  }

  &.button-report {
    @extend .button-back;
    &:before {
      content: '\6f';
    }
  }

  &.button-settings {
    @extend .button-back;
    &:before {
      content: '\41';
    }
  }

  &.button-settings2 {
    @extend .button-back;
    &:before {
      content: '\41';
    }
  }

  &.button-copy {
    @extend .button-back;
    &:before {
      content: '\6c';
    }
  }

  &.button-check {
    @extend .button-back;
    &:before {
      content: '\68';
    }
  }

  &.button-plus2 {
    @extend .button-back;
    &:before {
      content: '\70';
    }
  }

  &.button-trash {
    @extend .button-back;
    &:before {
      content: '\46';
    }
  }

  &.button-upload {
    @extend .button-back;
    &:before {
      content: '\43';
    }
  }

  &.button-download {
    @extend .button-back;
    &:before {
      content: '\78';
    }
  }

  &.button-blue, &:not(.button-disabled):hover {
    background-color: #06578a;
    color: #ffffff;
  }

  &.button-blue:not(.button-disabled):hover {
    color: #06578a;
    background-color: #f9fdff;
  }

  &.button-gray {
    background-color: #ffffff;
    color: #9b9b9b;
    border-color: #d6d6d6;
    &:not(.button-disabled):hover {
      background-color: #9b9b9b;
      color: #ffffff;
    }
  }

  &.button-rounded {
    border-radius: 50%;
    font-size: 10px;
  }
}

.alert {
  min-height: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #06578a;
  margin-bottom: 10px;
  color: #06578a;
  font-size: 107%;
  padding: 10px 10px;
  line-height: 2;
}

table.content-table {
  width: 100%;
  margin-left: -7px;
  margin-right: -7px;
  border-collapse: collapse;

  td {
    vertical-align: top;
    padding: 8px 7px;

    &:first-child {
      width: 110px;
      font-size: 12px;
      line-height: 1.5;
    }

    &.extra-small {
      font-size: 10px;
      color: #9b9b9b;
    }
  }
}

table.table-data {
  //min-width: 900px;
  margin: -20px;
  border-collapse: collapse;
  width: calc(100% + 40px);

  //border: 1px solid #000;

  thead {
    //border-bottom: 1px solid #d6d6d6;
  }

  tr {
    background-color: #fff;
    @extend %main-transition;

    &:nth-child(2n), &:nth-of-type(2n) {
      background-color: #f9f9f9;
    }

    &:hover {
      background-color: darken(#f9f9f9, 4);
    }
  }

  th, td {
    padding: 9px 10px;
    line-height: 1.15;

    > i {
      font-size: 24px;
      color: #06578a;
    }
  }

  th {
    font-weight: normal;
    color: #666666;
    font-size: 93%;
    text-align: left;
    border-bottom: 1px solid #d6d6d6;
    background-color: #fff;
  }

  td {
    &.small-column {
      width: 45px;
      padding-right: 0;
    }
  }

  &.table-data-collapsed {
    th:first-child {
      min-width: 300px;
    }

    .button-collapse {
      @extend .button-plus2, .button-gray, .button-rounded;
    }

    .collapse {
      > tr > td:first-child {
        width: 65px;
      }

      > tr > td:nth-child(2) > * {
        margin-left: -20px;
      }

      + .collapse-hide > tr > td:first-child {
        padding-left: 30px;
      }
    }

    .collapse.odd tr {
      background-color: #f9f9f9;

      &:hover {
        background-color: darken(#f9f9f9, 4);
      }
    }

    .collapse-hide {
      display: none;

      tr {
        &:nth-child(2n) {
          background-color: #f3fbff;
        }

        &:hover {
          background-color: darken(#f3fbff, 4);
        }

        &:first-child {
          box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        }
        &:last-child {
          box-shadow: inset 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
        }
      }
    }

    .collapse.collapse-opened {
      .button-collapse::before {
        content: "\75";
      }

      + .collapse-hide {
        display: table-row-group;
      }
    }

    tfoot {
      td {
        height: 53px;
        border-top: 1px solid #06578a;
      }
    }

  }

}

.avatar-image {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 4px;

  @extend %background-center;
}

.user-avatar {
  display: inline-block;
  width: 77px;
  height: 77px;
  border-radius: 4px;
  border: solid 1px #d6d6d6;
  @extend %background-center;

  &.no-photo {
    background-size: 33px;
    background-image: url('../img/no-photo.png');
  }
}

// STATUSES
.status-active {
  font-size: 12px;
  color: #56cc5b;
}

.status-inactive, .status-deleted, .status-locked {
  @extend .status-active;
  color: #d57b58;
}

.status-activating {
  @extend .status-active;
  color: #64c2b5;
}

.status-deactivating, .status-suspended {
  @extend .status-active;
  color: #e0a952;
}

.status-declined {
  @extend .status-active;
  color: #d47b58;
}

.status-pending, .status-sent {
  @extend .status-active;
  color: #6ab4e3;
}