#logo {
  display: block;
  margin-bottom: 12px;

  img {
    width: 72px;
    height: 30px;
  }
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 212px;
  height: 100vh;
  padding: 10px 20px 28px 15px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;

  .nice-scroll {
    //min-height: 200px;
  }

  menu, ul {
    display: block;
    @extend %resetList;
  }

  menu > li {
    position: relative;
    margin-bottom: 10px;

    &::before, &::after {
      position: absolute;
      top: 6px;
      left: 0;
      @extend %icon;
    }

    &:hover::before {
      color: #06578a;
    }

    &.menu-dashboard::before {
      content:'\7a';
    }

    &.menu-buying::before {
      content:'\66';
    }

    &.menu-report::before {
      content:'\6f';
    }

    &.menu-finance::before {
      content:'\76';
    }

    &.menu-settings::before {
      content:'\41';
    }

    a {
      color: lighten(#4a4a4a, 20);
      text-decoration: none;
      @extend %main-transition;
      font-size: 14px;
      line-height: 1.93;
    }
  }

  menu li {
    &.active > a, a:hover {
      color: #06578a;
    }
  }

  menu, #footer-menu {
    > li {
      padding-left: 30px;
    }
  }

  #footer-menu {
    position: absolute;
    max-width: 100%;
    bottom: 28px;
    left: 15px;

    a {
      font-size: 11px;
      line-height: 1.73;
      color: lighten(#9b9b9b, 20);
      text-decoration: none;
      @extend %main-transition;

      &:hover {
        color: #06578a;
      }
    }
  }


  @media (max-width: 991px) {
    top: 40px;
    height: calc(100vh - 40px);
    transform: translate(-100%, 0);
    transition: all 0.25s ease;
    z-index: 50;

    &.opened {
      transform: translate(0%, 0);
    }
  }
}