%resetList {
  list-style: none;
  margin: 0;
  padding: 0;
}

%main-transition {
  transition: all 0.3s ease;
}

%icon {
  display: inline-block;
  font-family: "adroutfont" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%background-center {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}