.circleLoader{
  width:60px;
  height:60px;
  margin:20px auto;
  position: fixed;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);

  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;

  .loaded & {
    opacity: 0;
    visibility: hidden;
  }
}

.circleLoader:before,
.circleLoader:after{
  content:" ";
  border-radius: 50%;
  border: solid 2px #06578a;
  position:absolute;
  width:2px;
  height:2px;
  top: 24px;
  left: 24px;
  opacity:0;

  will-change: opacity, top, left;
}

.circleLoader:before,
.circleLoader:after{
  -webkit-animation: expand 2s; /* Chrome, Safari, Opera */
  animation: expand 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.circleLoader:after{
  -webkit-animation-delay: 1s;
}

/* Standard syntax */
@keyframes expand
{
  0% {
    width:2px;
    height:2px;
    top: 24px;
    left: 24px;
    opacity:0;
  }
  20%{
    opacity:1;
  }
  100% {
    width:50px;
    height:50px;
    top:0;
    left:0;
    opacity: 0;
  }
}